
.maincontainer{
    padding-inline:4.main375rem;
    display: flex;
    gap:3.main375rem;
}
.maintext_2{
    color: #3DAB25;
    font-size: 14px;
}
.maintext_1{
    font-size:0.main75rem;
}
.maintext_4{
  font-size: 1rem;
  
}
.maintext_5{
    font-size: 40px;
    border:2px solid red;
}
.mainright_container_1{
    display: flex;
    gap:1rem;
    font-size: 1rem;
}
.maingray{
    color : #616161;
}
.maingreen{
   
}

.mainimg{
    height: 10px;
    width:10px;
}